body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #d1d1d1;
}

h1, h2, h3 {
    font-weight: 100;
    margin-left: 5px;
    font-size: 33px;
}

h3 {
    font-size: 20px;
}

h1 {
    font-size: 46px;
    text-align: center;
}

#outer {
    width: 600px;
    margin: 0 auto;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

.fb-login {
    position: absolute;
    top: 0;
    left: 0;
}

.photo {
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    margin: 10px 5px;
}

.Nikon {
    color: yellow;
}

.Canon {
    color: red;
}

.Nikon span, .Canon span {
    color: black;
    font-size: 36px;
}

img {
    border: 2px solid rgba(0,0,255,0.3);
}

img.Canon {
    border: 2px solid rgba(255,0,0,0.3);
}

img.Nikon {
    border: 2px solid rgba(255,255,0,0.3);
}